name: Deploy to Ubuntu Server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Executing remote ssh commands
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        command_timeout: 2m
        script: |
          cd /home/ubuntu/recuit_filter
          
          git pull https://github.com/dlwlsgh1118-cpu/recuit_filter.git main
          
          source venv/bin/activate
          pip install -r requirements.txt
          
          # 기존 서버 끄기
          pkill -f streamlit || true
          
          setsid nohup streamlit run app.py --server.headless true --browser.gatherUsageStats false > output.log 2>&1 < /dev/null &
          
          echo "Deployment successful!"
          exit 0